<div class="container" style="margin-top: 70px;">

    <div class="row">
  
      <div class="col-sm-8 offset-sm-2">
  
        <div>
          <form>
            <div class="form-group">
              <label for="id">ID</label>
              <input [(ngModel)]="course.id" type="text" name="id" class="form-control" id="id" aria-describedby="idHelp" placeholder="Enter ID">
              <small id="idHelp" class="form-text text-muted">Enter your course ID</small>
              <br>
  
              <label for="title">course Title</label>
              <input [(ngModel)]="course.title" type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter your title">
              <small id="titleHelp" class="form-text text-muted">Enter your course title</small>
              <br>
              <label for="video">course video</label>
              <input [(ngModel)]="course.video" type="text" name="video" class="form-control" id="video" aria-describedby="emailHelp"
                placeholder="Enter your video">
              <small id="nameHelp" class="form-text text-muted">Enter your course video</small>
              <br>
              <label for="description">Contact Description</label>
              <textarea [(ngModel)]="course.description" name="description" class="form-control" id="description" aria-describedby="descHelp">
                        </textarea>
              <small id="descHelp" class="form-text text-muted">Enter your course description</small>
              <br>
            </div>
          </form>
          <button class="btn btn-primary" (click)="createCourse()">Create contact</button>
        </div>
      </div>
    </div>
  </div>
  